* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
}

.center {
    padding-left: calc(50% - 1140px/2);
    padding-right: calc(50% - 1140px/2);
}
.submit{
    background: none;
    border: none;
    box-shadow: none;
}

input {
    border: 1px solid #666666;
    border-radius: 1px solid #666666;
    border-radius: 0.5rem;
    padding: 2px;
    box-shadow: 1px 1px #F25822;
}

.header__main {
    background: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding-top: 35px;
    padding-bottom: 35px;
}

.header__main__right {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 50px;
}

.header__main__right__text {
    color: black;
    font-size: 18px;
}

.logo__main {
    color: #F25822;
    font-size: 24px;
    font-family: Bold;
}

.main__button {
    border: none;
    border-radius: 40px;
    padding: 8px 28px;
    background-color: #F25822;
}

.main__button__text {
    color: white;
    font-size: 18px;
}

.heart{
     width: 25px;
     height: 25px;
     background-color: black;
     transform: rotate(45deg);
}



.content {
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.main__icon {
    max-width: 400px;
}

.content__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
}
.content__right {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content__text {
    max-width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 15px;
}

.entry__left__text {
    max-width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 15px;
    align-items: center;
}

.tagline {
    font-size: 45px;
}

.welcome {
    font-size: 30px;
}

.index__description {
    font-size: 30px;
}

.entry__form__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 15px;
    align-items: end;
}

.form {
    display: flex;
    gap: 10px;
}

.form_row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.entry__form__email {
    grid-area: a;
    justify-self: end;
}

.entry__form__phone {
    grid-area: c;
    justify-self: end;
}

.entry__description {
    text-align: center;
}

.or {
    grid-area: b;
    justify-self: center;
}

.index__links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 50px;
}

.index__links__registration {
    color: #aaaaaa;
}

.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
    margin-top: 35px;
    margin-bottom: 35px;
    box-sizing: border-box;
}
.registration__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
}

.registration__form__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    justify-items: end;
}

.links {
    color: #000;
    font-size: large;
}

.new__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
    padding-top: 35px;
    padding-bottom: 50px;
}



.input__new__item {
    width: 250px;
}


.goods {
    background-color: #fafafa;
    padding-top: 35px;
    padding-bottom: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.goods__card__item {
    width: 300px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.goods__card__item:hover {
    transform: scale(1.05);
}

.item__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    font-size: 24px;
    margin-bottom: 35px;
}
.gift__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    font-size: 24px;
    margin-bottom: 35px;
}

.img__bord {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item__card__img {
    max-width: 300px;
    max-height: 300px;
}

.card__item {
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.item {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.score__group {
    display: flex;
    gap: 5px;
}

.description__group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

output {
    max-width: 300px;
    border: 1px solid #666666;
    border-radius: 1px solid #666666;
    border-radius: 0.5rem;
    padding: 5px;
    box-shadow: 1px 1px #F25822;
    font-size: 20px;
}

.wishlist {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35xpx;
}


.card__present {
    width: 300px;
    height: 620px;
}

.footer__ {
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.footer__left {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.footer__text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer__right {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.contacts {
    font-size: 24px;
}

.gray {
    color: #666666;
}

.black {
    color: #000;
}

.color_6A646D {
    color: #6A646D;
}

.color_AAAAAA {
    color: #AAAAAA;
}

.color__F25822 {
    color: #F25822;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.text__decoration__none {
    text-decoration: none;
}
.div__none{
display: none
}
.email__form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
}



