<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Карточка товара</title>
</head>

<body>
    <header class="header__main center">
        <div class="header__main__left">
            <p class="logo__main">MARKETPLACE</p>
        </div>
        <nav class="header__main__right">
            <form  action="#" th:action="@{/goods/{id}(id=${user_id})}" method="get" class="registration__form">
                <input class="links color_6A646D submit text__decoration__none" type="submit" value="Товары">
            </form>
            <form  action="#" th:action="@{/personal_office/{id}(id=${user_id})}" method="get" class="registration__form">
                <input class="links color_6A646D submit text__decoration__none" type="submit" value="Личный кабинет">
            </form>
            <button class="main__button">
                  <a href="/" class="main__button__text text__decoration__none">Выход</a>
            </button>
        </nav>
    </header>

    <section class="card__item center">
        <h2>Карточка товара</h2>
        <form  action="#" th:action="@{/edit_item/{user_id}/{item_id}(user_id=${user_id}, item_id=${product.id})}" method="get" class="registration__form">
            <div class="item">
                <div class="item__info">
                    <p class="item__name" th:text="${product.name}"></p>
                    <p class="item__price color__F25822" th:text="${product.price}"></p>
                    <div class="score__group">
                        <p class="item__score gray">Рейтинг: </p>
                        <p class="item__score gray" th:text="${product.score}"></p>
                    </div>
                    <div class="description__group">
                        <p class="item__description gray">Описание: </p>
                        <output class="output__description" type="text" th:text="${product.description}"></output>
                    </div>
                </div>
                <img th:src="${product.image}" alt="Фото товара отсутствует" class="img__bord">
<!--                <a th:href="@{/card_item/{user_id}/{item_id}(user_id=${user_id}, item_id=${product.id})}"> <img th:src="${product.image}" alt="Фото товара отсутствует" class="img__bord"></a>-->
            </div>
            <input class="main__button main__button__text text__decoration__none" type="submit" value="Редактировать">
        </form>
    </section>

    <footer class="footer__ center">
        <div class="footer__content">
            <div class="footer__left">
                <a href="card_item" class="logo__main text__decoration__none">MARKETPLACE</a>
                <div class="footer__text gray">
                    <p>Сделать заказ</p>
                    <p>понятно</p>
                    <p>быстро</p>
                    <p>доступно</p>
                </div>
            </div>
            <div class="footer__right">
                <p class="contacts">Контакты</p>
                <div class="footer__text">
                    <p>Расположение: <span class="gray">Москва</span></p>
                    <p>Email: <span class="gray">glazkova.mv@bk.ru</span></p>
                    <p>Телефон: <span class="gray">+7-917-511-75-83</span></p>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright gray"> Copyright MARKETPLACE © 2024. Все права защищены</p>

    </footer>
</body>

</html>