<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Редактирование личных данных</title>
</head>

<body>
    <header class="header__main center">
        <div class="header__main__left">
            <p class="logo__main">MARKETPLACE</p>
        </div>
        <nav class="header__main__right">
            <form  action="#" th:action="@{/goods/{id}(id=${user.id})}" method="get" class="registration__form">
                <input class="links color_6A646D submit text__decoration__none" type="submit" value="Товары">
            </form>
            <form  action="#" th:action="@{/personal_office/{id}(id=${user.id})}" method="get" class="registration__form">
                <input class="links color_6A646D submit text__decoration__none" type="submit" value="Личный кабинет">
            </form>
<!--            <a href="personal_office" class="black header__main__right__text text__decoration__none">Личный кабинет</a>-->
            <button class="main__button">
                  <a href="/" class="main__button__text text__decoration__none">Выход</a>
            </button>
        </nav>
    </header>
    <section class="registration center">
        <div class="entry__left__text">
            <h3 class="entry__description gray">Редактирование личных данных:</h3>
        </div>
        <form  action="#" th:action="@{/correct_info/{id}(id=${user.id})}" method="post" class="registration__form">


<!--            <label for="email">Email</label>-->
<!--            <input type="text" th:field="*{email}" id="email" placeholder="Email">-->
<!--            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>-->
<!--            <input type="submit" value="Update User">-->
<!---->
<!--            <label for="name">Name</label>-->
<!--            <input type="text" th:field="*{name}" id="name" placeholder="Name">-->
<!--            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->

            <div class="registration__form__group">
                <div class="div__none">
                    <p class="id__form__text">Id</p>
                    <input th:name="id" th:attr="value = ${user.id}" type="number">
                </div>
                <div class="div__none">
                    <p class="bd__form__text">День рождения</p>
                    <input  type="date" th:name="birthday" th:attr="value = ${user.birthday}">
                </div>
                <div class="form registration__form__lastname">
                    <p class="lastname__form__text">Фамилия</p>
                    <input type="text" th:name="lastName" th:attr="value = ${user.lastName}" required>
                </div>
                <div>
                </div>
                <div class="form registration__form__name">
                    <p class="name__form__text">Имя</p>
                    <input type="text" th:name="firstName" th:attr="value = ${user.firstName}" required>
                </div>
                <div class="form registration__form__phone">
                    <p class="phone__form__text">Телефон</p>
                    <input type="text" th:name="number" th:attr="value = ${user.number}" required>
                </div>
                <div class="form registration__form__name">
                    <p class="name__form__text">Отчество</p>
                    <input type="text" th:name="surname" th:attr="value = ${user.surname}">
                </div>
                <div class="form registration__form__email">
                    <p class="email__form__text">Email</p>
                    <input type="email" th:name="email" th:attr="value = ${user.email}" required>
                </div>
            </div>
            <input class="main__button main__button__text text__decoration__none" type="submit" value="Изменить">
<!--            <button  type="submit">-->
<!--                <a href="personal_office" class="main__button__text text__decoration__none">Изменить</a>-->
<!--            </button>-->
        </form>
    </section>

    <footer class="footer__ center">
        <div class="footer__content">
            <div class="footer__left">
                <a href="correct_info" class="logo__main text__decoration__none">MARKETPLACE</a>
                <div class="footer__text gray">
                    <p>Сделать заказ</p>
                    <p>понятно</p>
                    <p>быстро</p>
                    <p>доступно</p>
                </div>
            </div>
            <div class="footer__right">
                <p class="contacts">Контакты</p>
                <div class="footer__text">
                    <p>Расположение: <span class="gray">Москва</span></p>
                    <p>Email: <span class="gray">glazkova.mv@bk.ru</span></p>
                    <p>Телефон: <span class="gray">+7-917-511-75-83</span></p>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright gray"> Copyright MARKETPLACE © 2024. Все права защищены
        </p>

    </footer>
</body>

</html>