<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Редактирование карточки товара</title>
</head>

<body>
    <header class="header__main center">
        <div class="header__main__left">
            <p class="logo__main">MARKETPLACE</p>
        </div>
        <nav class="header__main__right">
            <a href="goods" class="black header__main__right__text text__decoration__none">Товары</a>
            <a href="personal_office" class="black header__main__right__text text__decoration__none">Личный кабинет</a>
            <button class="main__button">
                  <a href="/" class="main__button__text text__decoration__none">Выход</a>
            </button>
        </nav>
    </header>
    <section class="new__item center">
        <h3>Редактирование товара</h3>
        <div class="new__item__group">
            <form class="form_row">
                <p>Название</p>
                <input class="input__new__item" type="text" placeholder="Введите название">
            </form>
            <form enctype="multipart/form-data" method="post" class="form_row">
                <p>Фото товара</p>
                <input class="input__new__item" type="file" name="photo" placeholder="Добавить фото">
            </form>
            <form class="form_row">
                <p>Цена</p>
                <input class="input__new__item" type="number" placeholder="Введите цену">
            </form>
            <form class="form_row">
                <p>Описание</p>
                <input class="input__new__item" type="text" placeholder="Введите описание">
            </form>
            <form class="form_row">
                <p>Рейтинг</p>
                <input class="input__new__item" type="number" placeholder="Введите рейтинг">
            </form>
            <button class="main__button">
                <a href="card_item" class="main__button__text text__decoration__none">Сохранить</a>
            </button>
        </div>
    </section>

    <footer class="footer__ center">
        <div class="footer__content">
            <div class="footer__left">
                <a href="edit_item" class="logo__main text__decoration__none">MARKETPLACE</a>
                <div class="footer__text gray">
                    <p>Сделать заказ</p>
                    <p>понятно</p>
                    <p>быстро</p>
                    <p>доступно</p>
                </div>
            </div>
            <div class="footer__right">
                <p class="contacts">Контакты</p>
                <div class="footer__text">
                    <p>Расположение: <span class="gray">Москва</span></p>
                    <p>Email: <span class="gray">glazkova.mv@bk.ru</span></p>
                    <p>Телефон: <span class="gray">+7-917-511-75-83</span></p>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright gray"> Copyright MARKETPLACE © 2024. Все права защищены
        </p>

    </footer>
</body>

</html>