<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Главная страница MARKETPLACE</title>
</head>

<body>
    <header class="header__main center">
        <div class="header__main__left">
            <p class="logo__main">MARKETPLACE</p>
        </div>
        <nav class="header__main__right">
            <a href="/registration" class="registration__link header__main__right__text text__decoration__none">Регистрация</a>
            <button class="main__button">
                  <a href="login" class="main__button__text text__decoration__none">Вход</a>
            </button>
        </nav>
    </header>


    <section class="content center">
        <div class="content__left">
            <div class="content__text">
                <h1 class="tagline">MARKETPLACE -<br> понятно и<br> без переводчика</h1>
                <h3 class="index__description gray">Добавь товары в wishlist и поделись им со своими контактами</h3>
            </div>
            <div class="index__links">
                <button class="main__button">
                    <a href="login" class="main__button__text text__decoration__none">Вход</a>
                </button>
                <a href="registration" class="index__links__registration text__decoration__none">Регистрация</a>
            </div>
        </div>
        <img src="/img/index.svg" alt="main__icon" class="main__icon">
    </section>

    <footer class="footer__ center">
        <div class="footer__content">
            <div class="footer__left">
                <a href="index" class="logo__main text__decoration__none">MARKETPLACE</a>
                <div class="footer__text gray">
                    <p>Сделать заказ</p>
                    <p>понятно</p>
                    <p>быстро</p>
                    <p>доступно</p>
                </div>
            </div>
            <div class="footer__right">
                <p class="contacts">Контакты</p>
                <div class="footer__text">
                    <p>Расположение: <span class="gray">Москва</span></p>
                    <p>Email: <span class="gray">glazkova.mv@bk.ru</span></p>
                    <p>Телефон: <span class="gray">+7-917-511-75-83</span></p>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright gray"> Copyright MARKETPLACE © 2024. Все права защищены
        </p>

    </footer>
</body>

</html>