<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Добавление нового товара</title>
</head>

<body>
    <header class="header__main center">
        <div class="header__main__left">
            <p class="logo__main">MARKETPLACE</p>
        </div>
        <nav class="header__main__right">
            <form  action="#" th:action="@{/goods/{id}(id=${user.id})}" method="get" class="registration__form">
                <input class="links color_6A646D submit text__decoration__none" type="submit" value="Товары">
            </form>
            <form  action="#" th:action="@{/personal_office/{id}(id=${user.id})}" method="get" class="registration__form">
                <input class="links color_6A646D submit text__decoration__none" type="submit" value="Личный кабинет">
            </form>
            <button class="main__button">
                <a href="/" class="main__button__text text__decoration__none">Выход</a>
            </button>
        </nav>
    </header>

    <section class="new__item center">
        <h3>Добавление товара</h3>
        <form  action="#" th:action="@{/new_item" method="post" class="registration__form">
        <div class="form_row">
                <p>Название</p>
                <input class="input__new__item" type="text" placeholder="Введите название">
            </div>
<!--            <div enctype="multipart/form-data" method="post" class="form_row">-->
<!--                <p>Фото товара</p>-->
<!--                <input class="input__new__item" type="file" name="photo" placeholder="Добавить фото">-->
<!--            </div>-->
            <div class="form_row">
                <p>Цена</p>
                <input class="input__new__item" type="number" placeholder="Введите цену">
            </div>
            <div class="form_row">
                <p>Описание</p>
                <input class="input__new__item" type="text" placeholder="Введите описание">
            </div>
            <div class="form_row">
                <p>Рейтинг</p>
                <input class="input__new__item" type="number" placeholder="Введите рейтинг">
            </div>
<!--            <button class="main__button">-->
<!--                    <a href="card_item" class="main__button__text text__decoration__none">Добавить</a>-->
<!--                </button>-->
            <input class="main__button main__button__text text__decoration__none" type="submit" value="Добавить">
        </form>
    </section>

    <footer class="footer__ center">
        <div class="footer__content">
            <div class="footer__left">
                <a href="new_item" class="logo__main text__decoration__none">MARKETPLACE</a>
                <div class="footer__text gray">
                    <p>Сделать заказ</p>
                    <p>понятно</p>
                    <p>быстро</p>
                    <p>доступно</p>
                </div>
            </div>
            <div class="footer__right">
                <p class="contacts">Контакты</p>
                <div class="footer__text">
                    <p>Расположение: <span class="gray">Москва</span></p>
                    <p>Email: <span class="gray">glazkova.mv@bk.ru</span></p>
                    <p>Телефон: <span class="gray">+7-917-511-75-83</span></p>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright gray"> Copyright MARKETPLACE © 2024. Все права защищены
        </p>

    </footer>
</body>

</html>