<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Личный кабинет</title>
</head>

<body>
    <header class="header__main center">
        <div class="header__main__left">
            <p class="logo__main">MARKETPLACE</p>
        </div>
        <nav class="header__main__right">
            <form  action="#" th:action="@{/goods/{id}(id=${user.id})}" method="get" class="form__action">
                <input class="links color_6A646D submit text__decoration__none" type="submit" value="Товары">
            </form>
            <button class="main__button">
                <a href="/logout" class="main__button__text text__decoration__none">Выход</a>
            </button>
        </nav>
    </header>

    <section class="content center">
        <div class="content__left">
            <form  action="#" th:action="@{/correct_info/{id}(id=${user.id})}" method="get" class="form__action">
                <input class="links color_6A646D submit text__decoration__none" type="submit" value="Редактировать личную информацию">
            </form>
            <form sec:authorize="hasAuthority('USER')" action="#" th:action="@{/wishlist/{id}(id=${user.id})}" method="get" class="form__action">
                <input class="links color_AAAAAA submit text__decoration__none" type="submit" value="Перейти в список подарков">
            </form>
            <form sec:authorize="hasAuthority('ADMIN')"  action="#" th:action="@{/new_item/{id}(id=${user.id})}" method="get" class="form__action">
                <input class="links color_AAAAAA submit text__decoration__none" type="submit" value="Добавить новый товар">
            </form>
        </div>
        <div class="content__right">
            <p class="content__text">Личные данные:</p>
            <div class="registration__form__group">
                <div class="form registration__form__lastname">
                    <p class="lastname__form__text">Фамилия:</p>
                    <input type="text" th:name="lastName" th:attr="value = ${user.lastName}" readonly>
                </div>
                <div class="form registration__form__bd">
                    <p class="bd__form__text">День рождения:</p>
                    <input type="date" th:name="birthday" th:attr="value = ${user.birthday}" readonly>
                </div>
                <div class="form registration__form__name">
                    <p class="name__form__text">Имя:</p>
                    <input type="text" th:name="firstName" th:attr="value = ${user.firstName}" readonly>
                </div>
                <div class="form registration__form__email">
                    <p class="email__form__text">Email:</p>
                    <input type="email" th:name="username" th:attr="value = ${user.username}" readonly>
                </div>
                <div class="form registration__form__name">
                    <p class="name__form__text">Отчество:</p>
                    <input type="text" th:name="surname" th:attr="value = ${user.surname}" readonly>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer__ center">
        <div class="footer__content">
            <div class="footer__left">
                <a href="personal_office" class="logo__main text__decoration__none">MARKETPLACE</a>
                <div class="footer__text gray">
                    <p>Сделать заказ</p>
                    <p>понятно</p>
                    <p>быстро</p>
                    <p>доступно</p>
                </div>
            </div>
            <div class="footer__right">
                <p class="contacts">Контакты</p>
                <div class="footer__text">
                    <p>Расположение: <span class="gray">Москва</span></p>
                    <p>Email: <span class="gray">glazkova.mv@bk.ru</span></p>
                    <p>Телефон: <span class="gray">+7-917-511-75-83</span></p>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright gray"> Copyright MARKETPLACE © 2024. Все права защищены
        </p>

    </footer>
</body>

</html>