<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Регистрация</title>
</head>

<body>
    <header class="header__main center">
        <div class="header__main__left">
            <p class="logo__main">MARKETPLACE</p>
        </div>
        <nav class="header__main__right">
            <a href="registration" class="registration__link header__main__right__text text__decoration__none">Регистрация</a>
            <button class="main__button">
                <a href="entry" class="main__button__text text__decoration__none">Вход</a>
          </button>
        </nav>
    </header>

    <section class="registration center">
        <div class="entry__left__text">
            <h1 class="welcome gray">Добро пожаловать<br> в MARKETPLACE!</h1>
            <h3 class="entry__description gray">Для регистрации заполните,<br> пожалуйста,<br> данные:</h3>
        </div>
        <form method="post" th:action="@{/registration}" th:object="${user}" class="registration__form">
            <div class="registration__form__group">
                <div class="form registration__form__lastname">
                    <p class="lastname__form__text">Фамилия</p>
                    <input id="lastName" name="lastName" placeholder="Введите фамилию" field="*{lastName}" type="text" required>
<!--                    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>-->
                </div>
                <div class="form registration__form__bd">
                    <p class="bd__form__text">День рождения</p>
                    <input id="birthday" name="birthday" type="date" field="*{birthday}" placeholder="Введите дату рождения" required>
                </div>
                <div class="form registration__form__name">
                    <p class="name__form__text">Имя</p>
                    <input id="firstName" name="firstName" type="text" field="*{firstName}" placeholder="Введите имя" required>
                </div>
                <div class="form registration__form__phone">
                    <p class="phone__form__text">Телефон</p>
                    <input id="number" name="number" type="tel" field="*{number}" placeholder="Формат: 79999999999" required>
                </div>
                <div class="form registration__form__name">
                    <p class="name__form__text">Отчество</p>
                    <input id="surname" name="surname" type="text" field="*{surname}" placeholder="Введите отчество" required>
                </div>
                <div class="form registration__form__email">
                    <p class="email__form__text">Email</p>
                    <input id="email" name="email" type="email" field="*{email}" placeholder="Введите email" required>
                </div>
            </div>
<!--            <button class="main__button" type="submit">-->
<!--                <a href="personal_office" class="main__button__text text__decoration__none">Зарегистрироваться</a>-->
<!--            </button>-->
            <input class="main__button main__button__text text__decoration__none" type="submit" value="Зарегистрироваться">
        </form>
    </section>

    <footer class="footer__ center">
        <div class="footer__content">
            <div class="footer__left">
                <a href="registration" class="logo__main text__decoration__none">MARKETPLACE</a>
                <div class="footer__text gray">
                    <p>Сделать заказ</p>
                    <p>понятно</p>
                    <p>быстро</p>
                    <p>доступно</p>
                </div>
            </div>
            <div class="footer__right">
                <p class="contacts">Контакты</p>
                <div class="footer__text">
                    <p>Расположение: <span class="gray">Москва</span></p>
                    <p>Email: <span class="gray">glazkova.mv@bk.ru</span></p>
                    <p>Телефон: <span class="gray">+7-917-511-75-83</span></p>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright gray"> Copyright MARKETPLACE © 2024. Все права защищены</p>
    </footer>
</body>

</html>