<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Список подарков</title>
</head>

<body>
    <header class="header__main center">
        <div class="header__main__left">
            <p class="logo__main">MARKETPLACE</p>
        </div>
        <nav class="header__main__right">
            <form  action="#" th:action="@{/goods/{id}(id=${user_id})}" method="get" class="form__action">
                <input class="links color_6A646D submit text__decoration__none" type="submit" value="Товары">
            </form>
            <form  action="#" th:action="@{/personal_office}" method="get" class="form__action">
                <input class="links color_6A646D submit text__decoration__none" type="submit" value="Личный кабинет">
            </form>
            <button class="main__button">
                  <a href="/logout" class="main__button__text text__decoration__none">Выход</a>
            </button>
        </nav>
    </header>
    <section class="wishlist center">
        <h2 class="gray">Список подарков</h2>
        <h4 th:if="${response=='NoData'}">К сожалению, Вы еще не добавили ни одного подарка! Переходите в раздел товаров и попробуйте сделать это прямо сейчас!</h4>
        <div th:if="${response=='Data'}">
            <form  action="#" th:action="@{/download_wishlist/{id}(id=${user_id})}" method="get" class="form__action">
                <input class="links color__F25822 submit text__decoration__none" type="submit" value="Скачать список подарков в Excel">
            </form>
            <div class="goods">
                <tr th:each="gift : ${gifts}">
                    <div class="goods__card__item">
                        <a th:href="@{/card_present/{user_id}/{gift_id}(user_id=${user_id}, gift_id=${gift.id})}">
                            <img th:src="@{'/img/' + ${gift.product.imagePathFS}}"
                                 th:title="${gift.product.imagePathFS}"
                                 th:alt="${gift.product.imagePathFS}" class="img__bord"/>
                        </a>
                        <div class="item__info">
                            <p class="item__name" th:text="${gift.product.name}"></p>
                            <p class="item__price color__F25822" th:text="${gift.status.label}"></p>
                            <p class="item__price color__F25822" th:text="${gift.priority.label}"></p>
                        </div>
                    </div>
                </tr>
            </div>
        </div>
    </section>

    <footer class="footer__ center">
        <div class="footer__content">
            <div class="footer__left">
                <a href="index" class="logo__main text__decoration__none">MARKETPLACE</a>
                <div class="footer__text gray">
                    <p>Сделать заказ</p>
                    <p>понятно</p>
                    <p>быстро</p>
                    <p>доступно</p>
                </div>
            </div>
            <div class="footer__right">
                <p class="contacts">Контакты</p>
                <div class="footer__text">
                    <p>Расположение: <span class="gray">Москва</span></p>
                    <p>Email: <span class="gray">glazkova.mv@bk.ru</span></p>
                    <p>Телефон: <span class="gray">+7-917-511-75-83</span></p>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright gray"> Copyright MARKETPLACE © 2024. Все права защищены
        </p>

    </footer>
</body>

</html>